header {
  background-image: url(../assets/backgroundImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff; }
  header .navbar {
    padding-top: 28px;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-between;
    place-self: center; }
    header .navbar .logo_name {
      font-size: 20px;
      font-weight: 600;
      font-family: 'Source Sans Pro', sans-serif; }
    header .navbar .navbar_lists {
      display: none; }
      header .navbar .navbar_lists .navbar_lists_link a {
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
        color: inherit;
        font-size: 14px;
        position: relative; }
        header .navbar .navbar_lists .navbar_lists_link a:hover .b-animation {
          width: 100%;
          transition: 500ms ease; }
        header .navbar .navbar_lists .navbar_lists_link a .b-animation {
          position: absolute;
          bottom: 0;
          border-top: 2px solid #fff;
          left: 0;
          width: 0; }
  header .intro {
    padding-bottom: 200px; }
    header .intro .intro_hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      header .intro .intro_hero .intro_hero_logo {
        animation-name: imgRotate;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-iteration-count: infinite; }

@keyframes imgRotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
      header .intro .intro_hero .description {
        margin-top: 13px;
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 42px;
        font-family: 'Oswald', sans-serif; }
      header .intro .intro_hero span {
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
        opacity: 0.7; }
