header {
  background-image: url(../assets/backgroundImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff; }