@import "./footer.mobile.scss";
@import "./header.mobile.scss";
@import "./text-section.mobile.scss";
@import "./video.section.mobile.scss";
@use "./kits/variables";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
