@import "./footer.scss";
@import "./header.scss";
@import "./text-section.scss";
@import "./video-section.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
