.top_intro_text_part {
  background-color: #fff;
  height: fit-content;
  margin-bottom: 58px; }

.top_intro_text_part .heading_intro {
  margin-top: 88px; }

.top_intro_text_part .heading_intro h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center; }

.top_intro_text_part .heading_intro span {
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  opacity: 0.7;
  display: block;
  text-align: center; }

.top_intro_text_part article {
  margin: 48px; }

.top_intro_text_part article .some_text {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 16px; }

.top_intro_text_part .btn-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.top_intro_text_part .btn-container .btn {
  border: none;
  padding: 12px;
  text-align: center;
  width: 120px;
  border-radius: 20px;
  color: #fff;
  background-color: #55C2D8; }

.top_intro_text_part .btn-container .btn:hover {
  cursor: pointer; }
