.top_intro_text_part {
    background-color: #fff;
    height: fit-content;
    margin-bottom: 58px;
    .heading_intro {
        margin-top: 88px;
        
        h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 48px;
            font-weight: bold;
            line-height: 1.6em;
            text-align: center;
        }
        
        span {
            margin-top: 40px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            opacity: 0.7;
            display: block;
            text-align: center;
        }
    }
    article {
        margin:48px;
        .some_text {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-top: 16px;
        }
       
        
    }
    .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            border: none;
            padding: 12px;
            text-align: center;
            width: 120px;
            border-radius: 20px;
            color: #fff;
            background-color: #55C2D8;
            
            &:hover{
                cursor: pointer;
            }
        }
    
    }
        }
    
