.vid_section {
  background-image: url(../assets/vid.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .vid_section .vid_heading {
    padding-top: 10vh;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 64px; }
  .vid_section .play_vid {
    border: none;
    background-color: #55C2D8;
    text-align: center;
    width: 145px;
    height: 143px;
    border-radius: 50%;
    color: #fff;
    font-size: 64px; }
    .vid_section .play_vid:hover {
      background-color: #fff;
      color: #55C2D8;
      cursor: pointer;
      transition: 500ms ease-in-out;
      transform: scale(0.9); }
  .vid_section p {
    margin-top: 54px;
    padding-bottom: 10vh;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: center; }
